<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sunny.ffmpeg">

  <application>
    <!-- You can use any manifest tag that goes inside the <application> tag -->
    <!-- <service android:name="com.example.MyService"> ... </service> -->
  </application>

  <!-- Other than <application> level tags, you can use <uses-permission> & <queries> tags -->
  <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
  <!-- <queries> ... </queries> -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

</manifest>